/* 
    Created on : 15/07/2018, 20:36:13
    Author     : jaca
*/

.root{
    -fx-background-color: #1bbc9d;
}
.label{
    -fx-font-size: 12px;
    -fx-font-weight: 300;
    -fx-text-fill: #333333;
}
#app-name{
    -fx-font-family: sans-serif;
    -fx-font-weight: 300;
    -fx-text-fill: white;
    -fx-font-size: 28px;
}
.button{
    -fx-background-color: #1bbc9d;
    -fx-font-family: "Arial", sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.text-field{
    -fx-border-radius:3px;
    -fx-border-width:2px;
    -fx-border-color:white;
    -fx-background-color: white;
    -fx-font-family: "Arial", sans-serif;
    -fx-text-fill: gray;
}
.text-field:focused{
    -fx-border-radius:3px;
    -fx-border-width:2px;
    -fx-border-color:#1bbc9d;
}

#center-panel{
    -fx-background-color: #eeeff3;
    -fx-background-radius: 7px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 2 , 2 );
}
